body {
    text-align: center;
    margin-top: 20px;
}

h1 {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 10px 0;
}

a {
    color: green;

}